@import "reset.css";
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gentium Basic'), local('GentiumBasic'), url(https://fonts.gstatic.com/s/gentiumbasic/v11/Wnz9HAw9aB_JD2VGQVR80We3LA2JjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v7/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K-DQBi8Jow.ttf) format('truetype');
}
@font-face {
  font-family: "SansFont";
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf") format("truetype");
}
@font-face {
  font-family: "SansFontI";
  src: url("../fonts/HelveticaNeueLTStd-It.otf") format("truetype");
}
@font-face {
  font-family: "SansFontB";
  src: url("../fonts/HelveticaNeueLTStd-Blk.otf") format("truetype");
}
@font-face {
  font-family: "SansFontBI";
  src: url("../fonts/HelveticaNeueLTStd-BlkIt.otf") format("truetype");
}
html {
  font-size: 62.5%;
}
/* =10px */
body {
  font-family: 'SansFont';
  font-size: 1.6rem;
  /* =14px */
  color: #333;
  background-color: rgba(252, 243, 206, 0.384);
  margin: 0;
}
body .invert a {
  color: #ccc;
}
h1,
h2 {
  font-family: 'SansFontB';
  margin: 0px 0px 1.2rem 0px;
}
h3,
h4 {
  font-family: 'SansFontBI';
  color: #444;
  margin: 15px 0 4px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
  font-style: oblique;
}
p {
  line-height: 3rem;
  margin: 0 0 2rem 0;
}
p.subtitle {
  font-family: "SansFontI";
  font-size: 1.25rem;
  margin-top: -10px;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  font-weight: bold;
}
.sidebar {
  border-top: 6px solid #c9eaea;
  border-bottom: 2px solid #c9eaea;
  background-color: #e3f4f4;
}
.headfoot {
  border-top: 6px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}
.spacer {
  width: calc(100 * 1%);
}
i.fas,
i.fab {
  margin-right: 10px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #444;
}
div.container {
  width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white;
  border-left: 4px solid #eeeeee;
  border-right: 4px solid #eeeeee;
  box-sizing: border-box;
}
div.container > * {
  padding: 10px;
}
div.container h1 {
  border-top: 1px solid #eeeeee;
  margin: 30px 0;
}
header {
  border-radius: 0 0 6px 6px;
  padding: 0;
  border-top: 6px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
header nav .navlinks {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
header nav .navlinks a {
  text-decoration: none;
  box-sizing: border-box;
  max-width: 100%;
  padding: 7px;
}
header nav .navlinks a:hover {
  font-weight: bold;
}
header nav .right {
  text-align: right;
}
header nav .logo h1 {
  font-size: 3.6rem;
  margin: 0;
  border: 0;
}
header nav .logo p {
  font-size: 1.4rem;
  line-height: 1rem;
  margin: 3px 0;
}
section {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
section.item,
section.item-rev {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
section.item p,
section.item-rev p {
  font-size: 1.5rem;
  line-height: 2.3rem;
}
section.item-rev {
  background-color: #f7f7f7;
  flex-direction: row-reverse;
  border-radius: 4px;
}
section.intro article {
  margin: 0 20px;
}
section article {
  width: calc(100 * 5%);
  margin: 0;
  padding: 10px;
}
section article.logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
}
section article.logos .logo {
  height: 50px;
  width: 50px;
}
section article.skillist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
section article.skillist span {
  width: 40%;
}
section .profile,
section .blurb {
  border-radius: 4px;
  min-height: 100%;
  border-top: 6px solid #c9eaea;
  border-bottom: 2px solid #c9eaea;
  background-color: #e3f4f4;
}
section .profile {
  margin: 20px;
}
section .profile .fab {
  margin: 0 25px 0 0;
  text-decoration: none;
  font-size: 3rem;
  color: #444;
}
section .profile .links {
  text-align: center;
}
section .profile img {
  display: block;
  width: 100%;
  height: 200px;
  margin: 30px 0;
  object-fit: cover;
  object-position: 0 45%;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
}
section .profile p {
  margin: 20px;
  height: auto;
}
section .blurb {
  margin: 20px;
  padding: 20px calc(20px * 1.5) 0;
  width: calc(100 * 3%);
}
section .blurb img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}
section .blurb a {
  display: block;
}
section.skills {
  margin: -40px 0 10px;
  flex-direction: column;
  width: 100%;
}
footer {
  min-height: 75px;
  width: 100%;
}
@media (max-width: 900px) {
  div.container {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 500px;
  }
  section {
    width: 500px;
    box-sizing: border-box;
  }
  section article {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  section.intro {
    background-color: #e3f4f4;
    display: flex;
    flex-direction: column-reverse;
  }
  section.item,
  section.item-rev {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    padding: 10px;
  }
  section.item p,
  section.item-rev p {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  section .profile,
  section .blurb {
    border-radius: 4px;
    min-height: 100%;
    padding: 10px;
  }
  section .profile p {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    height: auto;
  }
  section .profile p a {
    min-width: 50%;
  }
  section .blurb {
    background-color: inherit;
    border: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  section .blurb img {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  section .blurb a {
    display: block;
  }
}
