div.sidenav {
	width: $col3;
	border-left: 4px solid darken($page-bg, 30%);

	background-color: $page-bg;
}

div.Home {
	@include blorder();
	width: $basewidth;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 0 0 30px rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 40px;
	box-sizing: border-box;

	> * {
		padding: 10px;
	}
	hr {
		padding: 0;
	}
	h1 {
		border-top: 1px solid $neutral-bg-color;
		margin: 30px 0 0;
	}
	div.anchor {
		display: none;
	}
	div.cover {
		z-index: 0;
		position: absolute;
		margin-top: -25px;
		// height: 900px;
		height: 120%;
		width: 6000px;
		background-image: url("../imgs/floatbg.jpg");
		// background-position: center center;
		background-size: auto 100%;
		animation: move 250s infinite linear;
		will-change: transform;
		opacity: 0.2;
	}

	div.mainbg {
		z-index: 1;
		position: absolute;
		height: 100%;
		width: 100%;

		// background-image: linear-gradient(desaturate($floaty-bg, 50%), lighten($floaty-bg, 30%));
		// background-image: linear-gradient(desaturate(darken($page-bg, 30%), 0%), lighten($page-bg, 50%));
	}
}

@media (max-width: 900px) {
	div.Home {
		margin: 0 auto;
		width: 94%;
		// max-width: 900px;
	}
}

@media (max-width: 700px) {
	nav {
		flex-direction: column;
		margin: 0;
		.logo {
			text-align: center;
		}
		.navlinks {
			margin: 10px 0 0 0;
		}
	}
	.container {
		max-width: 500px;
	}
}
